#username, #password, #repeat-password {
  display: block;
  height: 50px;
  width: 380px;
  margin: 25px 0;
  background-color: #FFFBF5;
  border-radius: 3px;
  border:none;
  outline: none;
  padding: 0 10px;
  font-size: medium;
  font-weight: 300;
}


.background-login{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  background-color: rgba(103, 65, 136, 0.6);
}
.shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #FFFBF5;
  transition: all 0.8s ease-in-out;
}

.shape:first-child{

  background: linear-gradient(
      #674188,
      #FFFBF5

  );
  left: -50px;
  top: -200px;
  &:hover  {
    transition: all 1s ease-in-out;
    height: 150px;
    width: 150px;
  }
}

.shape:nth-child(2) {
  background: linear-gradient(
      #FFFBF5,
      #674188
  );
  left: 600px;
  top: -70px;

  &:hover {
    height: 250px;
    width: 250px;
  }
}

.shape:nth-child(3) {
  background: linear-gradient(
      #674188,
      #FFFBF5
  );
  right: 600px;
  bottom: -150px;

  &:hover {
    height: 250px;
    width: 250px;
  }
}

.shape:last-child{
  background: linear-gradient(
      to right,
      #FFFBF5,
      #674188
  );
  right: -100px;
  bottom: -180px;

  &:hover  {
    height: 250px;
    width: 250px;
  }
}

.register-title {
  margin-top: 15px;
  font-size: 28px;
  color: #FFFBF5;
  text-align: center;
}
