<app-navigation></app-navigation>

<div class="default-auth-wrapper">
  <div class="default-auth-background">
    <form [formGroup]="registerForm" (ngSubmit)="createUser()">
      <input formControlName="email"  type="text" placeholder="Enter your E-Mail" id="username" class="default-auth-input ">
      <input formControlName="password" type="password" placeholder="Password" id="password" class="default-auth-input ">
      <input formControlName="password" type="password" placeholder="Repeat Password" id="repeat-password" class="default-auth-input ">

      <button  routerLink="/register" type="submit" class="register-button">Register</button>

      <p>You have an account?<a routerLink="/login">Login</a></p>
    </form>
  </div>
</div>
