<footer>
  <div class="content">
    <div class="footer-container">
      <div class="footer-content-list">

        <ul class="footer-icons-wrapper">
          <li class="footer-list-item"><a href="" class="nav-link"><i class="icon-instagram"></i></a></li>
          <li class="footer-list-item"><a href="" class="nav-link"><i class="icon-facebook"></i></a></li>
          <li class="footer-list-item"><a href="" class="nav-link"><i class="icon-twitter"></i></a></li>
          <li class="footer-list-item"><a href="" class="nav-link"><i class="icon-whatsapp"></i></a></li>
        </ul>

        <ul class="footer-list-unstyled">
          <li class="footer-list-item"><a href="#">Product</a></li>
          <li class="footer-list-item"><a href="#">Benefits</a></li>
          <li class="footer-list-item"><a href="#">Partners</a></li>
          <li class="footer-list-item"><a href="#">Team</a></li>
        </ul>

        <ul class="footer-list-unstyled">
          <li class="footer-list-item"><a href="#">Downloads</a></li>
          <li class="footer-list-item"><a href="#">Research</a></li>
          <li class="footer-list-item"><a href="#">Faq</a></li>
          <li class="footer-list-item"><a href="#">Careers</a></li>
        </ul>

        <ul class="footer-list-unstyled">
          <li class="footer-list-item"><a href="">Documentation</a></li>
          <li class="footer-list-item"><a href="">Support</a></li>
          <li class="footer-list-item"><a href="">Legal Terms</a></li>
          <li class="footer-list-item"><a href="">About</a></li>
        </ul>
      </div>
      <form class="footer-contact-container">
        <h4>Contact Us</h4>

        <div>
          <input type="email" class="footer-form-control" id="input-email" placeholder="Enter email">
        </div>

        <div>
          <textarea class="footer-form-control" id="footer-message" placeholder="Message"></textarea>
        </div>

        <div>
          <button type="button" class="footer-button-send">Send</button>
        </div>

      </form>
    </div>
  </div>

</footer>


<h5 id="footer-qr-name"><i class="icon-qrcode"></i> Social Media INC. 2023 </h5>
