.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
}

.footer-content-list {
display: flex;
}

.footer-icons-wrapper,
.footer-list-unstyled {
  list-style-type: none;
}

.footer-list-item {
  margin: 10px 18px
}

a {
  color: #EAE3D2;
  text-decoration:none;
  font-family: Cantarell, serif;
}

.footer-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-control  {
  width: 300px;
  margin: 10px 0;
  padding: 6px 0;
  border-radius: 6px;
  font-size: small;
  outline: none;
  color: black;
  border: none;
  resize: none;
  background-color: #c3acd0;
  transition: 0.5s ease-in-out;

  &:hover {
    background-color: #F9F5EB;
  }
}

.footer-button-send {
  display: flex;
  margin: 15px 0;
  padding: 8px 20px;
  font-size: medium;
  z-index: 2;
  border-radius: 8px;
  border: none;

  &:hover {
    background-color: #EAE3D2;
  }
}

#footer-qr-name {
  display: flex;
  justify-content: center;
  color: #EAE3D2;
  font-size: small;
}
