<div *ngIf="!authService.isLoggedIn; then loginPage else mainContent"></div>
<ng-template #loginPage>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #mainContent>
  <nav *ngIf="authService.isLoggedIn">
    <app-navigation></app-navigation>
  </nav>

  <main class="site-container">
    <div class="default-container">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

  <footer>
    <div class="content">
      <app-footer></app-footer>
    </div>
  </footer>
</ng-template>
