
  <div class="background-login">
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form class="form-content">
    <h3 class="login-text">Login Here</h3>

    <label for="username" class="username-label"></label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password" class="password-label"></label>
    <input type="password" placeholder="Password" id="password">

    <button (click)="login()" class="login-register-button">Log In</button>
      <p class="forgot-password">Forgot password?</p>
    <button (click)="register()" class="login-register-button">Register</button>


    <div class="social-icon">
      <div class="go"><i class="icon-twitter"></i>  </div>
      <div class="fb"><i class="icon-facebook"></i>  </div>
      <div class="fb"><i class="icon-whatsapp"></i>  </div>
      <div class="fb"><i class="icon-instagram"></i>  </div>
    </div>

  </form>
