<app-navigation></app-navigation>

<div class="default-auth-wrapper">
  <div class="default-auth-background">
    <form>
      <input type="text" placeholder="Email or Phone" id="username" name="email" [(ngModel)]="email" class="default-auth-input ">
      <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="password" class="default-auth-input ">

      <button routerLink="/login" (click)="login()" class="login-button">Login</button>

      <a href="#" class="login-forgot-password">Forgot password?</a>
      <p> You dont't have an account?<a routerLink="/register">Register</a></p>
    </form>
  </div>
</div>

<!-- TODO: Style for p tag -->
