<div class="body">

  <div class="nav">
    <img  src="assets/logo.png" class="logo-nav">
  </div>

<!-- TODO: ballons css-->

  <div class="balloon-container">
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
  </div>

  <div class="background-login">
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
    </div>

    <form class="form-content">
          <p class="login-text" >Login</p>

      <label for="username" class="username-label"></label>
      <input type="text" placeholder="Email or Phone" id="username">

      <label for="password" class="password-label"></label>
      <input type="password" placeholder="Password" id="password">

      <button routerLink="/login"  (click)="login()" class="login-register-button">Sign In</button>
        <a href="#" class="forgot-password">Forgot password?</a>
      <button  routerLink="/register"  class="login-register-button">Sign Up</button>

      <div class="social-icon">
        <div class="go"><i class="icon-twitter"></i>  </div>
        <div class="fb"><i class="icon-facebook"></i>  </div>
        <div class="fb"><i class="icon-whatsapp"></i>  </div>
        <div class="fb"><i class="icon-instagram"></i>  </div>
      </div>

    </form>
</div>
