
.background-login{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background, .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
}
.shape:first-child{

  background: linear-gradient(
      #FFFBF5,
      #674188
  );
  left: -50px;
  top: -150px;
   &:hover  {
     transition: all 1s ease-in-out;
     height: 150px;
     width: 150px;
}
}

.shape:nth-child(2) {
  background: linear-gradient(
      #674188,
      #FFFBF5
  );
  left: 600px;
  top: -70px;

  &:hover {
    height: 250px;
    width: 250px;
  }
}

.shape:nth-child(3) {
  background: linear-gradient(
      #674188,
      #FFFBF5
  );
  right: 600px;
  bottom: -150px;

  &:hover {
    height: 250px;
    width: 250px;
  }
}

.shape:last-child{
  background: linear-gradient(
      to right,
      #FFFBF5,
      #674188
  );
  right: -100px;
  bottom: -180px;

  &:hover  {
    height: 250px;
    width: 250px;
  }
}

.form-content *{
  font-family: 'Poppins',sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-nav{
   width: 300px;
   height: 80px;
   background-color: transparent;
   padding: 10px;
}

.login-text {
  font-size: 26px;
  color: #674188;
  text-align: center;
}

#password, #username{
  display: block;
  height: 50px;
  width: 380px;
  margin: 25px 0;
  background-color: #FFFBF5;
  border-radius: 3px;
  padding: 0 10px;
  font-size: medium;
  font-weight: 300;
}


.social-icon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  color: #674188;
  font-size: x-large;
  cursor: pointer;
}

.forgot-password {
  float: right;
  font-size: 12px;
  text-decoration: none;
}
