
.background-login{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  background-color: rgba(103, 65, 136, 0.56);
}

 .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  margin-top: 55%;
   margin-bottom: 0;
  border: 1px solid #FFFBF5;
  transition: all 0.8s ease-in-out;
   animation: float 10s ease-in-out infinite;
}

.shape:first-child{
  background: linear-gradient(
      #674188,
      #FFFBF5
  );
  left: -150px;
  top: -170px;
   &:hover  {
     transition: all 1s ease-in-out;
     height: 150px;
     width: 150px;
}
}

.shape:nth-child(2) {
  height: 150px;
  width: 150px;
  background: linear-gradient(
      #FFFBF5,
      #674188
  );
  left: 600px;
  top: -70px;

  &:hover {
    height: 200px;
    width: 200px;
  }
}

.shape:nth-child(3) {
  background: linear-gradient(
      #674188,
      #FFFBF5
  );
  right: 600px;
  bottom: -350px;

  &:hover {
    height: 250px;
    width: 250px;
  }
}

.shape:nth-child( 4) {
  height: 100px;
  width: 100px;
  background: linear-gradient(
      #FFFBF5,
      #674188
  );
  right: -500px;
  bottom: -150px;

  &:hover {
    height: 150px;
    width: 150px;
  }
}

.shape:nth-child(6) {
  height: 50px;
  width: 50px;
  background: linear-gradient(
      #FFFBF5,
      #674188
  );
  right: 600px;
  top: -50px;

  &:hover {
    height: 100px;
    width: 100px;
  }
}

.shape:nth-child(7) {
  height: 100px;
  width: 100px;
  background: linear-gradient(
      #FFFBF5,
      #674188
  );
  left: -600px;
  bottom: -50px;

  &:hover {
    height: 150px;
    width: 150px;
  }
}

.shape:nth-child(8) {
  height: 70px;
  width: 70px;
  background: linear-gradient(
      #FFFBF5,
      #674188
  );
  right: -700px;
  top: -200px;

  &:hover {
    height: 100px;
    width: 100px;
  }
}

.shape:last-child{
  background: linear-gradient(
      to right,
      #FFFBF5,
      #674188
  );
  right: -150px;
  bottom: -180px;

  &:hover  {
    height: 250px;
    width: 250px;
  }
}

.form-content *{
  font-family: 'Poppins',sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.login-text {
  font-size: 28px;
  color: #FFFBF5;
  text-align: center;
}

#password, #username{
  display: block;
  height: 50px;
  width: 380px;
  margin: 25px 0;
  background-color: #FFFBF5;
  border-radius: 3px;
  padding: 0 10px;
  font-size: medium;
  font-weight: 300;
}

.social-icon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  color: #FFFBF5;
  font-size: x-large;
  cursor: pointer;
}

.forgot-password {
  float: right;
  font-size: 12px;
  text-decoration: none;
  color: #FFFBF5;
}


