@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iyncei');
  src:  url('fonts/icomoon.eot?iyncei#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iyncei') format('truetype'),
    url('fonts/icomoon.woff?iyncei') format('woff'),
    url('fonts/icomoon.svg?iyncei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qrcode:before {
  content: "\e938";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
