.navigation-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 14px 0;
  background-color: #674188;
}

.logo-nav {
  width: 200px;
  height: 50px;
  margin-left: 25px;
  filter: alpha(opacity=40);
  -webkit-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
}

.navigation-list-item {
  margin: 0 20px;
  font-size: large;
  text-decoration: none;
  list-style-type: none;
}

.navigation-list-item-link {
  text-decoration: none;
  color: white;
  transition: 0.4s ease-in-out;

    &:hover {
    color: #000000;
  }
}
