.my-account-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 60px;
}

.my-account-dropdown-item{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: medium;
  color: white;
}

.my-account-dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: -100px;
  padding: 40px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.my-account-dropdown ul {
  display: block;
}

.my-account-dropdown li {
  margin: 10px;
  padding: 15px;
}


.my-account-dropdown span {
  display: block;
  font-weight: bold;
}


.my-account-dropdown-list {
  padding: 8px 24px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  background-color: #C3ACD0;

  &:hover {
    background-color: #674188;
    color: white;
  }
}

.my-account-close-button {
  display: block;
  text-align: right;
  font-size: small;
  cursor: pointer;
}
