.dropdown{
  position: relative;
  display: inline-block;
  margin-right: 60px; /* Ajustează la nevoie */
}

.dropdown button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: large;
  color: white;
}

.dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -100px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  list-style: none;
}

.dropdown ul {
  display: block;
}

.dropdown li {
  margin: 10px;
  padding: 15px;
}


.dropdown span {
  display: block;
  font-weight: bold;
}


.dropdown-item {
  padding: 8px 24px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  background-color: #C3ACD0;

  &:hover {
    background-color: #674188;
    color: white;
  }
}

.close-button {
  font-size: small;
  float: right;
  cursor: pointer;

}
